/* Tablet & Small Desktop */
@media screen and (max-width: 1024px) {
  .hero .full {
    justify-content: center;
    gap: 80px;
  }

  .hero .second img {
    width: 350px;
  }

  .hero .btn {
    justify-content: center;
    bottom: 0;
  }
}

/* Mobile */
@media screen and (max-width: 600px) {
  .hero .full {
    flex-direction: column;
    gap: 30px;
    text-align: left;
  }

  .hero .first, .hero .second {
    width: 100%;
  }

  .hero h1 {
    font-size: 36px;
  }

  .hero h3 {
    font-size: 18px;
  }

  .hero p {
    font-size: 15px;
  }

  .hero .second img {
    width: 240px;
  }

  .hero .btn {
    flex-direction: column;
    align-items: center;
  }

  .btn1 {
    width: 100%;
    max-width: 280px;
  }
}

/* Extra Small Devices */
@media screen and (max-width: 500px) {
  .hero h1 {
    font-size: 20px;
  }

  .hero h3 {
    font-size: 10px;
  }

  .hero p {
    font-size: 10px;
  }

  .hero .second img {
    width: 100%;
  }

  .hero .btn {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
  }

  .btn1 {
    max-width: 150px;
    font-size: 12px;
    padding: 8px 16px;
  }

  .footer{
    font-size: 10px;
}
